##########################################################
## Extensions
##########################################################


*.db
*.log
*.mp3

##########################################################
## Files
##########################################################


secrets.yaml
known_devices.yaml
ip_bans.yaml
weblinks.yaml
zones.yaml
plex.conf
gitupdate.sh
customize.yaml
.gitignore
home-assistant_v2.db-shm
home-assistant_v2.db-wal

##########################################################
## Folders
##########################################################


custom_components/
cameras/
deps/
tts/
!www/ui
www/
.storage/
.git/
_uuid
.HA_VERSION
.cloud/
tensorflow/
python_scripts/