##########################################################
## Extensions
##########################################################
*.db
*.log
*.mp3

##########################################################
## Files
##########################################################
secrets.yaml
known_devices.yaml
ip_bans.yaml
zones.yaml
cameras.yaml
plex.conf
!.gitignore
gitupdate.sh


##########################################################
## Folders
##########################################################
custom_components/
deps/
tts/
www/
.storage/
.git/
_uuid
.HA_VERSION
.cloud/
